# generic files to ignore
.*

# Editors
.vscode/*

# Python virtual environment
.venv/
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Varius extensions
*.log
*.tmp
*.DS_Store

# Sphinx documentation
build/

# Translation repository
locale/

# Patchs
*.orig
*.rej
*.diff
*.patch
